<div class="top-menu-section">
    <div class="title-section">
        <div class="title">
            <h5>Overview</h5>
        </div>
    </div>
    <div class="search-section">
        <div class="search">
            <button class="search-btn"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search anything here ..." name="search">
        </div>
    </div>
    <div class="icon-section">
        <div class="notification-section">
            <ul class="icon-list">
                <li><span class="menu-icon"><i class='far fa-envelope'></i></span></li>
                <li><span class="menu-icon"><i class='far fa-bell'></i></span></li>
            </ul>
        </div>
    </div>
</div>
