$search-background: #dddd;
$search-color: #818589;

.top-menu-section{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #fff;
}

.search {
    float: left;
    width: 285px;
    padding: 5px;
    border-radius: 10px;
    background-color: $search-background;
}

button.search-btn {
    border: none;
    color: $search-color;
    background-color: $search-background;
}

input[type="text"] {
    border: none;
    background-color: $search-background;
    color: $search-color;
    width: 250px;
}

.notification-section {
    display: inline;
}

ul.icon-list {
    display: inline;
    padding-left: 0px;
}

ul.icon-list li {
    display: inline;
    list-style: none;
    padding-left: 3px;
    padding-right: 3px;
}

span.menu-icon {
    padding: 2px 5px;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 6px;
}