$sub-text-color: #818589;
$section-border: #ddd;

.card-section{
    float: left;
    width: -webkit-fill-available;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.card-list {
    float: left;
    width: 100%;
}

p.text {
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
}

span.sub-text {
    font-size: 9px;
    font-weight: normal;
    color: $sub-text-color;
}

.icon-section {
    float: right;
    display: inline;
}

ul.icon-list {
    display: inline;
    padding-left: 0px;
}

ul.icon-list li {
    display: inline;
    list-style: none;
    padding-left: 6px;
    padding-right: 0px;
}

span.select-icon {
    padding: 2px 5px;
    border: 1px solid;
    border-color: $section-border;
    border-radius: 6px;
}

.card-img {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-img img {
    width: 100%;
}

.add-section {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: $section-border;
}

.box {
    width: 100%;
    border-style: dashed;
    border-color: #818589;
    border-radius: 5px;
}

.box-content {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

span.box-text {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 7px;
}

.card-actions {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
    border-color: $section-border;
}

.action-section {
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.line {
    border: 1px solid;
    border-color: #ddd;
}

.top-up {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.transfer {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.withdrawal {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

p.action-name {
    font-size: 8px;
    margin-bottom: 0px;
}

.saving-section {
    float: left;
    width: 100%;
    padding-top: 15px;
}

span.icon-right {
    float: right;
}

.save-list {
    float: left;
    width: 100%;
    padding-top: 10px;
}

.list-box {
    height: 80px;
    width: 100%;
    border: 1px solid;
    border-color: $section-border;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-icon {
    float: left;
    padding: 5px 10px;
}

span.icon-view {
    float: left;
    padding: 5px 8px;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 6px;
}

.product-name {
    float: left;
    padding: 5px 10px;
}

p.name-view {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0px;
}

p.price-view {
    font-size: 10px;
    margin-bottom: 0px;
    color: $sub-text-color;
}

.product-option {
    float: right;
    padding: 10px;
}

span.menu-icon {
    padding: 5px 8px;
}

.progress-bar-view {
    float: left;
    width: 100%;
    padding: 0px 10px;
}

.text-section {
    float: left;
    width: 100%;
}

.amount {
    float: left;
}

.amount p {
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 0px;
}

.percentage {
    float: right;
}

.percentage p {
    margin-bottom: 0px;
    font-size: 8px;
    color: $sub-text-color;
}

.progress-section {
    float: left;
    width: 100%;
    position: relative;
    bottom: 8px;
}

progress {
    width: 100%;
    height: 6px;
    border: none;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background: #ddd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background: #000;
    border-radius: 10px;
}