<div class="card-section">
    <div class="card-list">
        <p class="text">My Cards: 1<span class="sub-text">/2</span></p>
        <div class="icon-section">
            <ul class="icon-list">
                <li><span class="select-icon"><i class='fas fa-angle-left'></i></span></li>
                <li><span class="select-icon"><i class='fas fa-angle-right'></i></span></li>
            </ul>
        </div>
    </div>
    <div class="card-img">
        <img src="/assets/rubyx-card.png" alt="card-img">
    </div>
    <div class="add-section">
        <div class="box">
            <div class="box-content">
                <span class="icon-plus"><i class="fa fa-plus-circle"></i></span>
                <span class="box-text">Add New Card</span>
            </div>
        </div>
    </div>
    <div class="card-actions">
        <p class="text">Quick Actions</p>
        <div class="action-section">
            <div class="top-up">
                <span class="icon">
                    <i class="fa fa-plus-square-o"></i>
                </span>
                <p class="action-name">Top Up</p>
            </div>
            <div class="line"></div>
            <div class="transfer">
                <span class="icon">
                    <i class='fab fa-telegram-plane'></i>
                </span>
                <p class="action-name">Transfer</p>
            </div>
            <div class="line"></div>
            <div class="withdrawal">
                <span class="icon"><i class="fa fa-money"></i></span>
                <p class="action-name">Withdrawal</p>
            </div>
        </div>
    </div>
</div>
