<div class="container">
    <div class="view-dashboard">
        <div class="left-menu">
            <app-left-menu></app-left-menu>
        </div>
        <div class="top-menu">
            <app-top-menu></app-top-menu>
        </div>
        <div class="card-main">
            <app-card-section></app-card-section>
        </div>
        <div class="balance-main">
            <app-balance-section></app-balance-section>
        </div>
        <div class="stats-main">
            <app-money-statictics></app-money-statictics>
        </div>
        <div class="transaction-main">
            <app-transaction-history></app-transaction-history>
        </div>
    </div>
</div>