<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="left-side-menu">
        <div class="top-section">
            <div class="bank-icon">
                <span class="hexagon-icon">
                    <img src="/assets/hexagon.svg" alt="hexagon-icon">
                </span>
                <span class="bank-name">Hexa Bank</span>
                <span class="icon-right">&#60;</span>
            </div>
            <div class="user-icon">
                <span class="user-img">
                    <img src="/assets/user-profile-icon.svg" alt="user-img">
                </span>
                <span class="user-name">Akmal Nasrulloh</span>
                <span class="icon-right">
                    <img src="/assets/chevron-expand.svg" alt="hexagon-icon">
                </span>
            </div>
        </div>
        <div class="menu-section">
            <p class="menu-title">Menu</p>
            <ul class="menu-list">
                <li><span class="menu-icon">&#8759;</span>Overview</li>
                <li><span class="menu-icon">&#9776;</span>Transactions</li>
                <li><span class="menu-icon">&#9637;</span>Analytics</li>
                <li><span class="menu-icon">&#8863;</span>Cards</li>
            </ul>
        </div>
        <div class="menu-section">
            <p class="menu-title">General</p>
            <ul class="menu-list">
                <li><span class="menu-icon">&#9881;</span>Settings</li>
                <li><span class="menu-icon">&#9993;</span>Help/Support</li>
                <li>
                    <span class="menu-icon">&#9790;</span>
                    Dark Mode
                    <span class="icon-right">
                        <i class='fas fa-toggle-off'></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="bottom-section">
            <div class="box">
                <div class="box-content">
                    <span class="icon-plus"><i class="fa fa-plus-circle"></i></span>
                    <p>New Payment</p>
                </div>
            </div>
        </div>
    </div>
</div>